<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>

 

    <server>
  <id>anypoint-exchange-v3</id>
  <username>~~~Client~~~</username>
  <password>a23ae43242684bff97056717e3e9bb0a~?~bc26c49263994268825B19bE0968fcf9</password>
</server>

  </servers>
</settings>