name: Deploy to CloudHub 2.0 (Manual + Auto)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Deployment Environment
        required: true
        type: choice
        options: [Sandbox, Production]
      target:
        description: CloudHub 2.0 Region
        required: true
        default: Cloudhub-US-East-2
      replicas:
        description: Number of Replicas
        required: true
        type: choice
        options: ['1', '2']
      vcores:
        description: vCores per Replica
        required: true
        type: choice
        options: ['0.1', '0.2', '1']
      java:
        description: Java Version
        required: true
        type: choice
        options: ['17']
      runtime:
        description: Mule Runtime Version
        required: true
        type: choice
        options: ['4.9.8']

  push:
    branches: [ main ]
    paths:
      - src/**
      - pom.xml
      - settings.xml

env:
  DEPLOY_ENV: ${{ github.event_name == 'workflow_dispatch' && inputs.environment || 'Sandbox' }}
  DEPLOY_TARGET: ${{ github.event_name == 'workflow_dispatch' && inputs.target || 'Cloudhub-US-East-2' }}
  DEPLOY_REPLICAS: ${{ github.event_name == 'workflow_dispatch' && inputs.replicas || '1' }}
  DEPLOY_VCORES: ${{ github.event_name == 'workflow_dispatch' && inputs.vcores || '0.1' }}
  DEPLOY_JAVA: ${{ github.event_name == 'workflow_dispatch' && inputs.java || '17' }}
  DEPLOY_RUNTIME: ${{ github.event_name == 'workflow_dispatch' && inputs.runtime || '4.9.8' }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.DEPLOY_JAVA }}

      - name: Resolve App Name
        id: app
        run: |
          if [ "${{ env.DEPLOY_ENV }}" = "Production" ]; then
            echo "name=test-ci-cd-app-prod" >> $GITHUB_OUTPUT
          else
            echo "name=test-ci-cd-app-sandbox" >> $GITHUB_OUTPUT
          fi

      - name: Deploy to CloudHub 2.0
        env:
          CLIENT_ID: ${{ secrets.CONNECTED_APP_ID }}
          CLIENT_SECRET: ${{ secrets.CONNECTED_APP_SECRET }}
        run: |
          mvn clean package mule:deploy \
            -s settings.xml \
            -DClientId="$CLIENT_ID" \
            -DClientSecret="$CLIENT_SECRET" \
            -Denvironment="${{ env.DEPLOY_ENV }}" \
            -Dapplication.name="${{ steps.app.outputs.name }}" \
            -DjavaVersion="${{ env.DEPLOY_JAVA }}" \
            -Dreplicas="${{ env.DEPLOY_REPLICAS }}" \
            -DvCores="${{ env.DEPLOY_VCORES }}" \
            -Dregion="${{ env.DEPLOY_TARGET }}" \
            -Druntime="${{ env.DEPLOY_RUNTIME }}" \
            -DskipTests
